In [26]:
import pandas as pd 
import numpy as np 
from tensorflow.keras.models import load_model 
import pickle

In [27]:
Regerssion_model=load_model("Regerssion_model.h5",compile=False
)

In [28]:
with open("Gender_encoder_regression.pkl","rb") as file:
    Gender_encoder_regression=pickle.load(file)

###Geography
with open("OHE_geography_regression.pkl","rb") as file:
    OHE_geography_regression=pickle.load(file)
##SCaling
with open("scaler_regression.pkl","rb") as file:
    scaler_regression=pickle.load(file)

In [29]:
input_data={
    
    "CreditScore":600,
    "Geography"	:"France",
    "Gender":"Male",
    "Age":40,	
    "Tenure":3,	
    "Balance":60000,	
    "NumOfProducts":2,	
    "HasCrCard":1,	
    "IsActiveMember":1,	
    "Exited":0
}

In [30]:
geo_encoded=OHE_geography_regression.transform([[input_data["Geography"]]])
geo_encoded_df=pd.DataFrame(geo_encoded,columns=OHE_geography_regression.get_feature_names_out(["Geography"]))

c:\RAG\csv\ANN_Project\venv\Lib\site-packages\sklearn\utils\validation.py:2691: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [31]:
input_data=pd.DataFrame([input_data])

In [32]:
input_data["Gender"]=Gender_encoder_regression.transform(input_data["Gender"])

In [33]:
input_data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,Exited
0,600,France,1,40,3,60000,2,1,1,0

In [34]:
input_data=pd.concat([input_data.drop("Geography",axis=1),geo_encoded_df],axis=1)

In [35]:
input_data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,Exited,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,0,1.0,0.0,0.0

In [36]:
input_data_scaled=scaler_regression.transform(input_data)

In [37]:
input_data_scaled

array([[-0.53598516,  0.91324755,  0.10479359, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699, -0.50857963,  1.00150113,
        -0.57946723, -0.57638802]])

In [38]:
prediction=Regerssion_model.predict(input_data_scaled)
prediction

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 104ms/step

array([[94727.086]], dtype=float32)

In [44]:
prediction[0][0]

np.float32(94727.086)